{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Task | Task Tracker{% endblock title %}

{% block other-stylesheet %}{% endblock other-stylesheet %}

{% block content %}
<div class="row g-4">
    <div class="col-sm-12 col-xl-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Edit Task</h6>
            <form action="." method="post">
                {% csrf_token %}
                <span class="form-error text-danger">{{ form.non_field_errors }}</span>
                <div class="form-floating mb-3">
                    {{ form.title }}
                    <label for="{{ form.title.id_for_label }}">Title</label>
                    <span class="form-error text-danger">{{ form.title.errors }}</span>
                </div>
                <div class="form-floating mb-3">
                    {{ form.description }}
                    <label for="{{ form.description.id_for_label }}">Description</label>
                    <span class="form-error text-danger">{{ form.description.errors }}</span>
                </div>
                <div class="form-floating mb-3">
                    {{ form.status }}
                    <label for="{{ form.status.id_for_label }}">Status</label>
                    <span class="form-error text-danger">{{ form.status.errors }}</span>
                </div>
                <div class="row form-floating justify-content-center">
                    <div class="col-sm-4 col-xl-2">
                        <button type="submit" class="btn btn-success rounded-pill m-2 col-sm-12 col-xl-12">Save</button>
                    </div>
                    <div class="col-sm-4 col-xl-2">
                        <a href="{% url 'home' %}" class="btn btn-outline-secondary rounded-pill m-2 col-sm-12 col-xl-12">
                            Back to Homepage
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block other-javascript %}{% endblock other-javascript %}