{% extends 'registration/login.html' %}
{% load static %}

{% block title %}Forgot Password{% endblock title %}

{% block name-page %}Forgot Password{% endblock name-page %}

{% block form-content %}
<form action="." method="post">
    {% csrf_token %}
    <span class="form-error text-danger">{{ form.non_field_errors }}</span>
    <p class="text-center mb-3">You forgot your password? Here you can easily retrieve a new password.</p>
    <div class="form-floating mb-3">
        {{ form.email }}
        <label for="{{ form.email.id_for_label }}">Email address</label>
        <span class="form-error text-danger">{{ form.email.errors }}</span>
    </div>
    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Request new password</button>
    <p class="text-center mb-0">Already have an Account? <a href="{% url 'login' %}">Sign In</a></p>
</form>
{% endblock form-content %}