{% extends 'registration/login.html' %}
{% load static %}

{% block title %}Change Password{% endblock title %}

{% block name-page %}Change Password{% endblock name-page %}

{% block form-content %}
<form action="." method="post">
    {% csrf_token %}
    <span class="form-error text-danger">{{ form.non_field_errors }}</span>
    <p class="text-center mb-3">You are only one step a way from your new password, recover your password now.</p>
    <div class="form-floating mb-3">
        {{ form.old_password }}
        <label for="{{ form.username.id_for_label }}">Old password</label>
        <span class="form-error text-danger">{{ form.old_password.errors }}</span>
    </div>
    <div class="form-floating mb-4">
        {{ form.new_password1 }}
        <label for="{{ form.password1.id_for_label }}">New password</label>
        <span class="form-error text-danger">{{ form.new_password1.errors }}</span>
    </div>
    <div class="form-floating mb-4">
        {{ form.new_password2 }}
        <label for="{{ form.password2.id_for_label }}">Repeat new password</label>
        <span class="form-error text-danger">{{ form.new_password2.errors }}</span>
    </div>
    <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Change password</button>
    <p class="text-center mb-0">Already have an Account? <a href="{% url 'login' %}">Sign In</a></p>
</form>
{% endblock form-content %}